@tailwind base;
@tailwind components;
@tailwind utilities;







.move-right-container {
  transform: translateX(-80%);
  transition: transform 0.5s ease;
}

@media (max-width: 1800px) {
  .move-right-container {
    transform: translateX(-60%); 
  }
}
/* On medium screens */
@media (max-width: 1500px) {
  .move-right-container {
    transform: translateX(0%); 
  }
}

@media (max-width: 1200px) {
  .move-right-container {
    transform: translateX(10%);
  }
}




.scale-image-container {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

/* On medium screens */
@media (max-width: 1500px) {
  .scale-image-container {
    transform: translateX(-12%);
  }
}

/* On smaller screens */
@media (max-width: 1200px) {
  .scale-image-container {
    transform: translateX(-10%); 
  }
}

/* On very small screens */
@media (max-width: 900px) {
  .scale-image-container {
    transform: translateX(-20%); 
  }
}

/* On mobile screens */
@media (max-width: 600px) {
  .scale-image-container {
    transform: translateX(0); /* Completely centered */
  }
}
















/* for Image slider on home page */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  overflow: hidden;
  width: 760px;
  height: 100px;
  mask-image: linear-gradient(
    to right ,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );

  .slide-track {
    animation: scroll 10s linear infinite; 
    display: flex;
    width: calc(250px * 14); 
  }

  .slide-track:hover{
    animation-play-state: paused;
  }

  .slide {
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;

    .img{
      max-width: 80px;
      max-height: 80px;
      aspect-ratio: 16/9;
    }
  }
}
